.mt-5.text-center.small
    p.mt-5 
        span.text-muted Η παρούσα εφαρμογή συντάχθηκε στα πλαίσια εκπόνησης πτυχιακής εργασίας του τμήματος Εφαρμοσμένης Πληροφορική και Πολυμέσων του ΤΕΙ Ηρακλείου.
    p 
        span.text-muted Για περισσότερες πληροφορίες επικοινωνήστε με το μαζί μας στο 
        a.text-muted.ml-1(href="mailto:rubes6@hotmail.com") rubes6@hotmail.com