doctype html
html(lang="el",data-ng-app="app",data-ng-controller="page-handler")
	head
		meta(charset='utf-8')
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		meta(name='theme-color' content='#4DA5F4')
		//meta(name='csrf-token', content=_csrf)
		title #{title} - Ptixiaki
		//link(rel='shortcut icon', href='/favicon.png')
		link(rel='stylesheet', href='/css/main.css')
		base(href="/")
	body
		include partials/header

		.container-fuild.px-5
			//include partials/messages
			block content

		include partials/footer

		script(src='/js/jquery.min.js')
		script(src='/js/popper.min.js')
		script(src='/js/bootstrap.min.js')
		script(src='/js/angular.min.js')
		script(src='/js/http-worker.angular.js')
		script(src='/js/main.angular.js')