.mt-4(data-ng-init="prepear('wlist',init.config.model)") 
	.row(data-ng-init="handlers[init.config.model].get()")
		.col-3.col-lg-2
			.list-group.mt-5
				button.list-group-item.list-group-item-action(data-ng-repeat="row in handlers[init.config.model].data|uniqueCategory:'category._id'",data-ng-bind="row.name",data-ng-click="handlers[init.config.model].categoryFilter=row.category._id")
		.col-9.col-lg-10
			.row
				div(data-ng-class="{'demand':'d-none','offer':'col-12','all':'col-6'}[init.config.id]")
					.row.justify-content-start
						.col-12.text-center
							h2.strong Προσφορά
							hr.mx-5
							p(data-ng-bind="handlers[init.config.model].filter")
						.col-12.mb-4.px-5(data-ng-repeat="row in handlers[init.config.model].data|filter:handlers[init.config.model].categoryFilter",data-ng-if="row.offer")
							.row 
								.col-2 
									img.w-100(data-ng-src='/static/{{row.images[0].location}}/thumbnail.webp' alt='{{row.name}}')
								.col-10 
									h5.mb-0(data-ng-bind='row.title')
									h6.mb-1.small.text-muted(data-ng-bind="row.category.name")
									h6.mb-3.small.text-muted(data-ng-bind="row.user.name")
								.col-12.p-0.text-right
									a.btn.btn-sm.btn-primary(data-ng-href=m+'/{{row._id}}') Περισσότερα
				div(data-ng-class="{'offer':'d-none','demand':'col-12','all':'col-6'}[init.config.id]")
					.row.justify-content-start 
						.col-12.text-center
							h2.strong Ζήτηση
							hr.mx-5
						.col-12.px-5.mb-4(data-ng-repeat="row in handlers[init.config.model].data|filter:handlers[init.config.model].categoryFilter",data-ng-if="!row.offer")
							.row 
								.col-2 
									img.w-100(data-ng-src='/static/{{row.images[0].location}}/thumbnail.webp' alt='{{row.name}}')
								.col-10 
									h5.mb-0(data-ng-bind='row.title')
									h6.mb-1.small.text-muted(data-ng-bind="row.category.name")
									h6.mb-3.small.text-muted(data-ng-bind="row.user.name")
								.col-12.p-0.text-right
									a.btn.btn-sm.btn-primary(data-ng-href=m+'/{{row._id}}') Περισσότερα